name: Backup DB

on:
  workflow_dispatch:

jobs:
  call-backup-db:
    steps:
      - name : Echo var environments
        env: 
          JASYPT: ${{ secrets.MYTOKEN }}
        shell: bash 
        run: |
          echo $JASYPT
          echo "is it good?"