name: CD
on:
  workflow_dispatch:

jobs:
  call-workflow-update-poeditor-matrix:
    uses: asmaelkb/AOC2023/.github/workflows/update-poeditor-matrix.yaml@main
    secrets: inherit

  call-update-poeditor-matrix:
    runs-on: ubuntu-latest
    needs: call-workflow-update-poeditor-matrix
    steps:
      - name: Update POEditor Matrix
        shell: bash
        run: |
          echo "Version : ${{ needs.call-workflow-update-poeditor-matrix.outputs.release-version }}"

