name: CD
on:
  workflow_dispatch:
    inputs:
      env:
        description: Environment
        type: string
        required: true

jobs:
  call-update-poeditor-matrix:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to ${{ inputs.env }}
        shell: bash
        run: |
          echo "Deployed to ${{ inputs.env }}"

