name: Input WORKFLOW
on:
  workflow_call:
    outputs:
      version:
        description: Release version
        value: ${{ jobs.build.outputs.version }}


jobs: 
  build:
    name: Build
    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.build.outputs.version }}

    steps:
      - name: Set version
        id: build
        shell: bash
        run: echo "version=2.0.0-SNAPSHOT" >> "$GITHUB_OUTPUT"
